.grid {
  border: 1px solid #ddd;
  height: 50px;
  width: 50px;
  text-align: center;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















